@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border: solid 1px black;
    background-color: black;
    color: skyblue;
    border-radius: 20%;
    text-align: center;
}

.textos {
    position: relative;
    top: 6%;
    padding: 2px;
}

#hoje, #semana {
    color: darkred;
}

#relogio.textos {
    font-size: 2.2rem;
    color: darkorange;
}

#cidade, #temperatura {
    color: slateblue;
}

#sensacao {
    color: rebeccapurple;
    font-size: 0.7rem;
}